.orderDetailContainer {
  max-width: 800px;
  margin: 45px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notification {
  margin-bottom: 20px;
}

.orderDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.productCard {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.productImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.productDescription {
  margin-top: 10px;
  color: #666;
}

.shippingInfo,
.ratingInfo,
.statusInfo {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.orderProducts {
  margin-top: 20px;
}

.productListItem {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: box-shadow 0.3s;
}

.productListItem:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.productLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.productListImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.productListInfo {
  display: flex;
  flex-direction: column;
}

.productName {
  font-weight: bold;
}

.productPrice,
.productQuantity {
  font-size: 14px;
  color: #333;
}

.loader {
  margin: 300px auto;
}
